<<<<<<< HEAD
*{
    margin: 0 auto;    
    padding: 0;    
    box-sizing: border-box;    
    color:rgb(15, 15, 15)    
    }
    
body{    
    background-color: #ffffff;    
    }  
      

#menu ul{  
    list-style: none;    
    padding: 0;    
    background-color: #ffffff;
    display: flex;
    align-items:initial;
    }    
    
#menu ul li{  
    font-size: 12px;  
    display: inline-block;
    justify-content: space-evenly;
    
    
    }
    
#menu ul li a{    
    color:rgb(15, 15, 15) ;   
    padding: 20px;    
    display: inline-block;    
    text-decoration: none;    
    }
    
 #menu ul li a:hover{    
    border: 4px solid rgb(161, 15, 15);
    }
    
#logo {    
   height:50px;
   width:150px;
   float: left;
}


form {
    font-size: 12px; 
    width: 300px;
    margin: 0 auto;

}

#enviar{
    float:right;
}

#pesquisar {
   float: inline-end;
}

footer {
    text-align: center;
    padding: 3px;
    background-color:rgb(15, 15, 15);
    position: absolute;
    color: #FFF;
    width: 100%;
    height: 40px;
    text-align:initial;
    line-height: 50px;
=======
*{
    margin: 0 auto;    
    padding: 0;    
    box-sizing: border-box;    
    color:rgb(15, 15, 15)    
    }
    
body{    
    background-color: #ffffff;    
    }  
      

#menu ul{  
    list-style: none;    
    padding: 0;    
    background-color: #ffffff;
    display: flex;
    align-items:initial;
    }    
    
#menu ul li{  
    font-size: 12px;  
    display: inline-block;
    justify-content: space-evenly;
    
    
    }
    
#menu ul li a{    
    color:rgb(15, 15, 15) ;   
    padding: 20px;    
    display: inline-block;    
    text-decoration: none;    
    }
    
 #menu ul li a:hover{    
    border: 4px solid rgb(161, 15, 15);
    }
    
#logo {    
   height:50px;
   width:150px;
   float: left;
}


form {
    font-size: 12px; 
    width: 300px;
    margin: 0 auto;

}

#enviar{
    float:right;
}

#pesquisar {
   float: inline-end;
}

footer {
    position: absolute;
    bottom: 0;
    background-color:rgb(15, 15, 15) ;
    color: rgb(236, 236, 236);
    width: 100%;
    height: 40px;    
    text-align:initial;
    line-height: 50px;
>>>>>>> 4e68a3481c6021bada4aa38cbf3835431c47c9f3
}

